<% include ../partials/boilerplate %>

<form method='POST' action='/todos'>
 <input name='title' type='text' placeholder='title' />
 <input name='category' type='text' placeholder='category' />
 <input name='info' type='text' placeholder='info' />
 <input name='status' type='text' placeholder='status' />
</form>

<% include ../partials/end %>
